* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}

body {
    text-align: center;
    margin-top: 100px;
}

h1.title {
    font-size: 70px;
    margin-bottom: 20px;
}

h3.title {
    font-size: 30px;
    margin-bottom: 20px;
}

#getMoreBtn {
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
    text-align: right;
}

.modal {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    padding: 25px;
    outline: 0;
}

.wishes {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    text-align: left;
    list-style-type: none;
}

.wish {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    display: flex;
    justify-content: space-between;
}

.wish b {
    width: 70%;
}

.wish .left {
    display: flex;
}

.wish .left a {
    margin-left: 20px;
    color: #0c5460;
    text-decoration: none;  
}

.wish .left a:hover {
    transform: scale(1.1);
}

.wish .left a:active {
    transform: scale(.9);
}

.wish:first-child {
    margin-top: 40px;
}

details.btn-green {
    height: 38px;
    z-index: 1;
}

details ul {
    list-style: none;
    padding: 10px 17px;
    z-index: 111;
    position: absolute;
    border: 1px solid #28a745;
    border-radius: .25rem;
    margin: 15px -12px;
    background: #fff;
}

details ul li a {
    text-decoration: none;
    color: #28a745;
}

details ul li a:hover, details ul li a.active {
    opacity: .6;
}

.btn-green {
    display: inline-block;
    font-weight: 400;
    color: #28a745;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: transparent;
    border-color: #28a745;
    cursor: pointer;
}

.btn-green:hover, .btn-green.active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-green:focus, .btn-green.active {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}

.btn-blue {
    display: inline-block;
    font-weight: 400;
    color: #007bff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-blue:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-blue:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

.buttons {
    text-align: center;
}

textarea {
    resize: none;
    /* width: 100%; */
    height: 120px;
    display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

@media screen and (max-width: 632px) {
    .wishes {
        width: 400px;
    }

    h1.title {
        font-size: 55px;
    }
}

@media screen and (max-width: 490px) {
    .wishes {
        width: 300px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
    }

    .buttons .btn:not(:first-child) {
        margin-top: 10px;
    }
}